:root {
  --basic-dark-black: #000000;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-gray: #EEEEEE;
  --basic-black: #283136;
  --basic-dark-grey: #666666;
  --basic-light-black: #444444;
  --basic-white: #ffffff;

}

.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main-header, .slider,
.catalog-name {
  background-color: var(--basic-gray);
}


.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}


.site-navigation-link,
.cart {
  color: var(--basic-dark-black);
}

.site-navigation-link:hover,
.cart:hover {
  color: var(--basic-light-red);
}

.site-navigation-link:active,
.cart:active {
  color: var(--basic-dark-black);

  border-bottom: solid 2px var(--basic-light-red);
}

.visually-hidden {
  display: none;
}

.slid-name, .catalog-name h1{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-dark-black);
}

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border-radius: 3px;
}

.button:hover {
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px;
  color: 	rgba(255,255,255,0.3);
}

.button-price {
  width: 200px;
  height: 50px;
  border-radius: 3px;
}

.button-price:active {
  color: var(--basic-white);
}

.filters-button {
  color: var(--basic-dark-black);
  background-color: var(--basic-gray);
}

.filters-button:hover {
  color: var(--basic-dark-black);
  background-color: #DFDFDF;
}

.filters-button:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px;
  color: 	rgba(0,0,0,0.3);
}

.sorting-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.sorting-button:hover {
  opacity: 0.6;
}

.sorting-button:active {
  opacity: 1;
}

.services-name {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-centre {
  background-color: var(--basic-light-green);
}

.services-centre:hover {
  background-color: var(--basic-green);
}

.services-centre:active {
  background-color: var(--basic-dark-green);
  color: 	rgba(255,255,255,0.3);
}

.services-right {
  background-color: var(--basic-light-yellow);
}

.services-right:hover {
  background-color: var(--basic-yellow);
}

.services-right:active {
  background-color: var(--basic-dark-yellow);
  color: 	rgba(255,255,255,0.3);
}

.features-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-dark-black);
}

.list-title {
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.achievements-list,
.partners-list {
  display: flex;
  align-items: center;
}

.partners-item g {
  opacity: 0.2;
}

.partners-item:hover g {
  opacity: 1;
}

.partners-item:active g {
  opacity: 0.1;
}

.marker:active {
  opacity: 0.1;
}


.achievement-meaning {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-dark-black);
}

.achievement-text,
.listing-list-description-text {
  line-height: 18px;
}

.features-list {
  list-style-image: url(../img/list-line.png)
}

.partners-list .marker {
  list-style-image: url(../img/partners-line.png)
}

.footer-contacts {
  background-color: var(--basic-white);
}

.footer-address-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.footer-address-text {
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--basic-dark-grey);
}

.footer-phone {
  color: var(--basic-dark-grey);
}

.discount-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-dark-black);
}

.discount-text {
  line-height: 22px;
  color: var(--basic-light-black);
}

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal-form-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.input-field {
  line-height: 18px;
  color: var(--basic-light-black);
  border: 2px solid #D7DCDE;
}

.input-field:hover {
  border: 2px solid #B4B9BB;
}

.input-field:focus {
  border: 2px solid #000000;
  color: url(--basic-dark-black);
}


.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 130px;
  padding: 0;
  max-width: 300px;
}

.social-list a {
  display: block;
  margin-right: 10px;
  margin-bottom: 9px;
}

.social-button {
  width: 81px;
  height: 81px;
  background-color: #E1E1E1;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #E74246;
}

.social-button:active {
  background-color: #D7373B;
}

.social-img {
  width: 26px;
  height: 15px;
  padding: 33px 27px;
  text-align: center;
}

.social-img:active svg {
  opacity: 0.3;
}

.filter-name, .sorting,
.listing-list-description-name a {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.listing-list-description-name a:hover {
  color: #FB565A;
}

.listing-list-description-name a:active {
  color: #000000;
  opacity: 0.3;
}

.filter input[type="range"],
.filter-range  {
  background-color: var(--basic-gray);
  border-radius: 3px;
  width: 260px;
  height: 80px;
}

.filter input[type="number"] {
  background-color: var(--basic-gray);
  width: 80px;
  height: 38px;
  border-radius: 3px;
}

.radio-name,
.checkbox-name {
  line-height: 19px;
}

.filter-input-radio,
.filter-input-checkbox {
  color: #4D4D4D;
  opacity: 0.4;
}

.filter-input-radio:hover,
.filter-input-radio:focus,
.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  opacity: 1;
}

.listing-ltem-header {
  width: 360px;
  height: 40px;
  background-color: #4D4D4D;
  opacity: 0.12;
}

.listing-ltem-header:hover {
  opacity: 1;
}

.listing-ltem-header span {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 13px;
  margin-left: 5px;
}

.listing-list-description {
  background-color: #EEEEEE;
  width: 360px;
  height: 231;
  text-align: center;
}

.listing-pagination-list li {
  display: inline;
  margin-right: 5px;
}

.pagination-item {
  border: 3px solid #DBDBDB;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  line-height: 18px;
  color: #000000;
  background: #EEEEEE;
}

.pagination-item:hover {
  background: #DFDFDF;
}

.pagination-item:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.pagination-item-current {
  background: #FFFFFF;
}

